@font-face {
  font-family: 'Andale Mono Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Andale Mono'), url('ANDALEMO.woff') format('woff');
}


* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Andale Mono Regular", sans-serif;
}

body {
  background-color: #EED8C4;
}

p {
  font-size: 1.3vw;
}

h2 {
  margin-top: 5%;
  text-align: center;
  font-size: 1.4vw;
  font-family: "Andale Mono Regular", sans-serif;
}

button {
  font-size: 1.2vw;
}

button:hover {
  cursor: pointer;
}

.container {  
  padding: 12px;
  display: grid;
  grid-template-columns: 0.8fr 1fr 0.6fr;
  grid-template-rows: 0.3fr 1fr 1fr 0.1fr;
  gap: 7px 7px;
  height: 95vh;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center; 
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "logo . menu"
    "fact card marketplace"
    "fact card info"
    "footer footer footer";
  width: 100%;
}

.intro-wrapper {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  background-color: #57443B;
  z-index: 10000000;

  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: .25fr 1fr .25fr;

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#splash {
    grid-row: 2;
    grid-column: 2;
    position: relative;
    width:100%;
    height: 100%;
    text-align: center;
      background-color: #57443B;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#splash img {
  width: 50%;
}

#splash p {
  margin-top: 100px;
  font-size: 1.3vw;
  color: white;
}

#splash button {
  cursor: pointer;
  font-size: 1.2vw;
  width: 3vw;
  margin: 1.5vw;
  font-color: #463427;
}

#rules button {
  cursor: pointer;
  font-size: 1vw;
  margin: 1.5vw;
  font-color: #463427;
  font-size: 1.1vw;
}

#explain1 {
    grid-row: 2;
    grid-column: 2;
    position: relative;
    width:100%;
    height: 100%;
    text-align: center;
      background-color: #57443B;

    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  color: white;
}

#explain2 {
  grid-row: 2;
  grid-column: 2;
  position: relative;
  width:100%;
  height: 100%;
  text-align: center;
    background-color: #57443B;

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  color: white;
}

#rules {
    grid-row: 2;
    grid-column: 2;
    position: relative;
    width:100%;
    height: 100%;
    text-align: center;
      background-color: #57443B;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    color: white;
}


#rules #explainbtn1 #explainbtn2 #rules_to_intro button {
  cursor: pointer;
  font-size: 1.2vw;
  width: 6vw;
  margin: 1.5vw;
  font-color: #463427;
  border-width: 0;
}

.menu {
  justify-self: stretch;
  align-self: stretch;
  grid-area: menu;
  line-height: 150%;
  text-align: right;
  font-size: 1.2vw;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.menu button {
  border-color: gray;
  padding: 0.4vw 1vw;
  background-color: transparent;
  border-width: thin;
  font-size: 1.2vw;
  color: black;
}

.menu button:hover {
  background-color: #FFF9EB;
  cursor: pointer;
}

.logo {
  justify-self: stretch;
  align-self: stretch;
  grid-area: logo;
}


.factBox {
  background-image: url(../img/chocolate.png);
  background-size: cover;
  height: 32vw;
  width:  26vw;
  justify-self: center;
  align-self: center;
  grid-area: fact;
  padding: 5%;
}

#fact {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  line-height: 140%;
  font-size: 1.3vw;
  color: white;
}

#fact a {
  color: #FFF7DB;
}

.factBox h2 {
  color: white;
  padding-top: 3.3vw;
  font-weight: bold;
}

.cardBox {
  padding: 5%;
  background-color: white;
  height:40vw;
  width:  36vw;
  justify-self: center;
  align-self: center;
  grid-area: card;
  text-align: center;
  border-radius: 5%;
  transition-duration: 0.05s;
  -webkit-transition-duration: 0.4s;
}

#cards {
  margin-top: 15%;
  margin-right: 5%;
  margin-left: 5%;
  line-height: 160%;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1.5vw;
}

.cardBox:hover {
  cursor: pointer;
}

.cardBox:active{
  /*position:relative;
  top:-5px;*/
  transform: scale(1.03, 1.03);
  /*box-shadow: 0 6px #C6C6C6;*/
}


.marketplace {
  background-image: url(../img/marketplace_closed.png);
  background-size: cover;
  height: 9vw;
  width:  16vw;
  text-align: center;
  justify-self: center;
  align-self: center;
  grid-area: marketplace;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.marketplace a {
  color: #EBEBEB;
  font-weight: bold;
  font-size: 1.5vw;
  line-height: 650%;
}

.info {
  justify-self: center;
  align-self: center;
  grid-area: info;
  justify-content: center;
  align-content: center; 
  justify-items: center;
  align-items: center;
  font-size: 1.2vw;
  text-align: center;
  width: 18vw;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.info button {
  border-color: transparent;
  background-color: transparent;
  color: black;
}

.info button:hover {
  background-color: #FFF9EB;
  cursor: pointer;
}


.footer {
  justify-self: stretch;
  align-self: stretch;
  grid-area: footer;
  text-align: right;
  font-size: 1vw;
  color: gray;
  padding-right: 5px;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.market_modal {
    display: none; /* Hidden by default */
    z-index: 1; /* Sit on top */
    position: fixed; /* Stay in place */
    padding-top: 14%;  /*Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Modal Content */
.market_modal-content {
    background-color: #EDFFED;
    margin: auto;
    padding: 20px;
    width: 30%;
    text-align: center;
    border-radius: 5%;
}

/* The Close Button */
.market_close {
    color: gray;
    float: right;
    font-size: 1.5vw;
    font-weight: bold;
}

.market_close:hover,
.market_close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Cheatsheet Modal (background) */
.cheatsheet_modal {
  display: none; /* Hidden by default */
  z-index: 1; /* Sit on top */
  position: fixed; /* Stay in place */
  padding-top: 17%;  /*Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content */
.cheatsheet_modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  width: 70%;
  text-align: center;
  border-radius: 2vw;
}

/* The Close Button */
.cheatsheet_close {
  color: gray;
  float: right;
  font-size: 1.5vw;
  font-weight: bold;
}

.cheatsheet_close:hover,
.cheatsheet_close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Exit Modal (background) */
.exit_modal {
  display: none; /* Hidden by default */
  z-index: 1; /* Sit on top */
  position: fixed; /* Stay in place */
  padding-top: 20%;  Location of the box 
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content */
.exit_modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  width: 20%;
  height: 30%;
  text-align: center;
  border-radius: 1.5vw;
}

.exit_modal-content button {
  margin: 0.5vw;
  width: 4vw;
}

/* The Close Button */
.exit_close {
  color: gray;
  float: right;
  font-size: 1.5vw;
  font-weight: bold;
}

.exit_close:hover,
.exit_close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#lostplayer {
  cursor: pointer;
  color: gray;
}

#lostplayer:hover{
  text-decoration: none;
  color: darkgray;
  cursor: pointer;
}

#exitBtn {
  cursor: pointer;
}
